/* line 3, ./client/scss/main.scss */
/* line 2, ./scss/main.scss */
* {
  margin: 0;
  padding: 0; }

/* line 7, ./client/scss/main.scss */
/* line 8, ./scss/main.scss */
body {
  font-size: 100%;
  overflow: hidden;
  font-family: "brandon-grotesque"; }

/* line 13, ./client/scss/main.scss */
/* line 14, ./scss/main.scss */
#SITE {
  z-index: 9; }

/* line 17, ./scss/main.scss */
#link-list {
  list-style: none;
  padding-left: 50px; }

/* line 22, ./scss/main.scss */
#link-list a {
  text-decoration: none;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333; }

/* line 33, ./scss/main.scss */
#mobile-message {
  padding: 40px;
  font-weight: 400; }

/* line 38, ./scss/main.scss */
#desktop-message {
  padding: 40px;
  padding-left: 50px;
  font-weight: 400; }

@media screen and (min-width: 640px) {
  /* line 45, ./scss/main.scss */
  #desktop-message {
    max-width: 640px; } }
/* line 18, ./client/scss/main.scss */
/* line 51, ./scss/main.scss */
header {
  padding: 50px;
  position: relative;
  z-index: 9;
  width: 200px; }

/* line 24, ./client/scss/main.scss */
/* line 57, ./scss/main.scss */
header #title .component {
  height: 20px;
  overflow: hidden;
  width: 100px;
  padding-left: 1px; }

/* line 29, ./client/scss/main.scss */
/* line 63, ./scss/main.scss */
header #title .component h1 {
  position: relative;
  top: -20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 90%; }

/* line 40, ./client/scss/main.scss */
/* line 71, ./scss/main.scss */
header #nav {
  margin-top: 40px; }

/* line 42, ./client/scss/main.scss */
/* line 74, ./scss/main.scss */
header #nav div.menu-link {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  overflow: hidden;
  width: 120px;
  height: 100%; }

/* line 50, ./client/scss/main.scss */
/* line 82, ./scss/main.scss */
header #nav div.menu-link:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  color: #ffffff; }

/* line 55, ./client/scss/main.scss */
/* line 87, ./scss/main.scss */
header #nav div.menu-link span {
  position: absolute;
  left: 4px;
  top: 290px;
  letter-spacing: 2px; }

/* line 61, ./client/scss/main.scss */
/* line 93, ./scss/main.scss */
header #nav div.menu-link .nav-hover {
  height: 10px;
  background: #111111;
  padding: 10px;
  width: 0;
  position: relative;
  left: -20px; }

/* line 73, ./client/scss/main.scss */
/* line 102, ./scss/main.scss */
.menu-link {
  position: relative;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* line 81, ./client/scss/main.scss */
/* line 109, ./scss/main.scss */
.menu-link span {
  position: relative;
  top: 30px;
  -webkit-transition: color ease 0.5s;
  -moz-transition: color ease 0.5s;
  transition: color ease 0.5s;
  color: #333; }

/* line 89, ./client/scss/main.scss */
/* line 117, ./scss/main.scss */
.menu-link:hover {
  cursor: pointer; }

/* line 91, ./client/scss/main.scss */
/* line 120, ./scss/main.scss */
.menu-link:hover span {
  color: rgba(102, 179, 178, 0.6);
  -webkit-transition: color ease 0.5s;
  -moz-transition: color ease 0.5s;
  transition: color ease 0.5s; }

/* line 99, ./client/scss/main.scss */
/* line 126, ./scss/main.scss */
.menu-link .menu-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background: #b69853;
  height: 0px; }

/* line 109, ./client/scss/main.scss */
/* line 134, ./scss/main.scss */
.spacer {
  height: 4px;
  width: 0px;
  font-weight: bold;
  background: #333; }

/* line 116, ./client/scss/main.scss */
/* line 141, ./scss/main.scss */
.about-chars {
  color: #fff; }

/* line 2, client/scss/work.scss */
/* line 145, ./scss/main.scss */
#project-container {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000; }

/* line 8, client/scss/work.scss */
/* line 150, ./scss/main.scss */
#work-detail-view {
  position: absolute;
  left: 4000px;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: red; }

/* line 17, client/scss/work.scss */
/* line 159, ./scss/main.scss */
.work-item {
  border: solid 1px red;
  padding: 5px; }

/* line 25, client/scss/work.scss */
/* line 163, ./scss/main.scss */
.work-item .content-wrap {
  padding: 10px;
  position: absolute;
  bottom: 30px;
  overflow: hidden; }

/* line 34, client/scss/work.scss */
/* line 169, ./scss/main.scss */
.work-item .work-item-overlay {
  background: #333;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

/* line 41, client/scss/work.scss */
/* line 175, ./scss/main.scss */
.work-item .work-item-title {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px; }

/* line 49, client/scss/work.scss */
/* line 182, ./scss/main.scss */
.work-item:hover {
  cursor: pointer; }

/* line 186, ./scss/main.scss */
#link-list li {
  margin-bottom: 5px; }
  /* line 189, ./scss/main.scss */
  #link-list li a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    color: #333;
    letter-spacing: 2px; }
  /* line 196, ./scss/main.scss */
  #link-list li a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    color: teal; }

/* line 204, ./scss/main.scss */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
